.login, .regisrer {
  .padding-b-11 {
    padding-bottom: 11rem;
  }
  .padding-b-10p5 {
    padding-bottom: 10.5rem;
  }
  .padding-b-3p5 {
    padding-bottom: 3.5rem;
  }
  .form_style {
    padding: .5rem 1rem;
    .input_container {
      padding: 0.3rem 0;
      background-color: #fff;
      border-bottom: 1px solid #39c;
      box-sizing: border-box;
      font-size: 0;
      input {
        font-size: 0.7rem;
        color: #333;
        width: 100%;
        box-sizing: border-box;
      }
      input.password {
        width: 80%;
      }
      .pwd_eyes {
        float: right;
        background: url('../images/eye.png') no-repeat .75rem .5rem;
        background-size: 45%;
        width: 2rem;
        height: 1.6rem;
        margin-top: -.3rem;
      }
      .pwd_eyes_flash {
        float: right;
        background: url('../images/eye2.png') no-repeat .75rem .5rem;
        background-size: 45%;
        width: 2rem;
        height: 1.6rem;
        margin-top: -.3rem;
      }
      .readonly {
        color: #999;
      }
    }
  }
  .btu_next {
    margin: 1.6rem auto 1rem;
    height: 1.65rem;
    font-size: 0.7rem;
    color: #fff;
    text-align: center;
    line-height: 1.65rem;
    border-radius: 1rem;
    width: 85%;
    box-shadow: 0 5px 14.5px 0 rgba(57, 155, 200, 0.35);
  }
  .to_register, .to_getPwd, .line, .to_login {
    font-size: .5rem;
    color: #666;
    text-align: center;
  }
  .line {
    margin: 0 1rem;
  }
}


.register-agree {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  .title {
    font-size: .75rem;
    padding: .6rem 0 .3rem;
  }
  p {
    padding: .3rem 0 0;
  }
  p.title {
    text-align: left;
  } 
  p.header {
    background-color: #6da9f3;
    color: #fff;
    padding-bottom: .2rem;
    position: fixed;
    width: 100%;
    top: 0;
  }
  .content {
      padding: 1rem;
  }
  .text-justify {
      text-align: justify;
      font-size: .54rem;
      line-height: 1.1rem
  }
  p.inscribed {
      text-align: right;
      font-size: .68rem;
  }
}
.login.forget, .login.reset {
  padding-top: 1rem;
}